[submodule "nvim/.config/nvim/pack/plugins/start/fzf.vim"]
	path = nvim/.config/nvim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "nvim/.config/nvim/pack/plugins/start/todo.txt-vim"]
	path = nvim/.config/nvim/pack/plugins/start/todo.txt-vim
	url = https://github.com/freitass/todo.txt-vim
[submodule "nvim/.config/nvim/pack/plugins/start/vim-rec"]
	path = nvim/.config/nvim/pack/plugins/start/vim-rec
	url = https://github.com/zaid/vim-rec
[submodule "nvim/.config/nvim/pack/plugins/start/fzf"]
	path = nvim/.config/nvim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "nvim/.config/nvim/pack/plugins/start/vim-ledger"]
	path = nvim/.config/nvim/pack/plugins/start/vim-ledger
	url = git@github.com:ledger/vim-ledger.git
[submodule "nvim/.config/nvim/pack/plugins/start/vimwiki"]
	path = nvim/.config/nvim/pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
	branch = dev
