[submodule "nvim/.config/nvim/pack/plugins/start/fzf.vim"]
	path = nvim/.config/nvim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "nvim/.config/nvim/pack/plugins/start/todo.txt-vim"]
	path = nvim/.config/nvim/pack/plugins/start/todo.txt-vim
	url = https://github.com/freitass/todo.txt-vim
[submodule "nvim/.config/nvim/pack/plugins/start/vim-rec"]
	path = nvim/.config/nvim/pack/plugins/start/vim-rec
	url = https://github.com/zaid/vim-rec
